body {
  font-family: Arial, sans-serif;
  background-color: rgb(245, 245, 245);
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(175, 90, 142);
  padding: 16px 32px;
}

.navbar img {
  height: 100px;
  width: auto;
  display: inline;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 24px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 23px;
  transition: text-decoration 0.3s ease;
}

.navbar-links a:hover {
  color: orange;
  text-decoration: underline;
}

.navbar-links a:focus {
  outline: 2px solid orange;
  outline-offset: 2px;
}

.navbar-links a.active {
  border-bottom: 2px solid orange;
}

.trending-section,
.movies-page .section,
.tv-shows-page .section {
  padding: 40px 20px;
  max-width: 1400px;
  margin: 20px auto;
}

.trending-section h2,
.movies-page .section h2,
.tv-shows-page .section h2 {
  text-align: left;
  font-size: 22px;
  color: black;
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(169, 169, 169, 0.979);
  padding-bottom: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.137);
  width: 150px;
  text-align: center;

}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.356);
}

.card a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.card img {
  width: 100%;
  height: auto;
}

.card h3 {
  margin: 10px 0;
  font-size: 18px;
  color: black;
}

.card p {
  margin: 0 0 10px 0;
  color: gray;
}

.trending-movies,
.trending-shows,
.latest-movies,
.latest-shows{
  margin-bottom: 60px;
}

.main-footer {
  background-color: rgba(103, 184, 204, 0.815);
  padding: 20px 0;
  color: white;
  text-align: center;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}

.col {
  flex: 1;
  min-width: 150px;
  margin-bottom: 20px;
}

.col h4 {
  margin-bottom: 15px;
  color: whitesmoke;
  text-decoration: underline;
}

.list-unstyled {
  list-style: none;
  padding: 0;
}

.list-unstyled li {
  margin-bottom: 10px;
  color: whitesmoke;
}

.rowsm {
  margin: 0;
  color: whitesmoke;
}

hr {
  border: 0;
  height: 1px;
  background: yellow;
  margin: 20px 0;
}
